//Cores

$cinza-01: #EEF2F4;
$cinza-02: #D8E1EA;
$cinza-025: #CFD7E0;
$cinza-03: #A4B2C8;
$cinza-04: #838E9F;
$cinza-05: #717A89;
$cinza-06: #5B6372;

$azul-01: #9DC4F2 ;
$azul-02: #72A8E5  ;
$azul-03: #2D5D98 ;

$amarelo-01: #EFD650  ;
$amarelo-02: #FDF3C5 ;
$amarelo-03: #D8CFAA ;

$branco: #FFFFFF;
$preto: #000000;

//font

$font-sinfo: 'Open Sans', sans-serif;
$font-button: $font-sinfo;
$font-footer: $font-sinfo;

//media screan

$tablet-screen: 835px;
$smartphone-screen: 522px;

//footer

$max-width-footer: 1280px;
$min-width-footer: 322px;
$padding-footer: 21px 30px;
$border-top-footer: 1px solid $cinza-025;
