.footer{
  min-width: $min-width-footer;
  padding: $padding-footer;
  background-color: $cinza-01;
  border-top: $border-top-footer;
  font-family: $font-footer;
  color: $cinza-04;
  .text-footer{
    padding: $padding-text-footer;
    margin-right: auto;
    span{
      font-size: 14px;
      line-height: 16px;
      white-space: nowrap;
    }
  }
  @media screen and (max-width: $tablet-screen){
    padding: $padding-tablet-screen;
    .text-footer{
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: $smartphone-screen){
    flex-wrap: wrap;
    padding: $padding-smartphone-screen;
    height: $height-smartphone-screen;
    .text-footer{
      order:3;
      width: 228.81px;
      padding: 10px 0px 8px;
      margin: auto;
    }
    #logo-ufrn{
      order:2;
      margin-left: 40px;
    }
  }
}
