doctype html
html(lang="pt")
  head
    title='buttons'
    meta(charset='utf8')
  body
    .container
      h4 Botões extendidos
      .row.justify-content-center
        .col-md-5
          .card
            .card-body
              h6.card-title Botões primários
              .card-text class .btn-extend-primary
              .d-flex.flex-colunn.justify-content-around
                button(class='btn btn-danger') Responder
        .col-md-5
          .card
            .card-body
              h6.card-title Botões secundários
              .card-text class .btn-extend-secondary
              .d-flex.flex-colunn.justify-content-around
                button(class='btn btn-danger') Responder
                button(class='btn btn-danger') Encaminhar

