doctype html
html(lang="pt")
  head
    title='buttons'
    meta(charset='utf8')
  body
    .container.d-flex.flex-column.justify-content-end
      .row.justify-content-center
        h4 Botões extendidos
      .row.justify-content-center
        .col-md-5
          .card
            .card-body
              h6.card-title Botões secundários
              p.card-text class .btn-secondary
              .d-flex.justify-content-around
                button.btn.btn-secondary
                  i.fa.fa-arrow-circle-left
                  span Responder
                button.btn.btn-secondary
                  i.fa.fa-arrow-circle-right
                  span Encaminhar
        .col-md-5
          .card
            .card-body
              h6.card-title Botões primários
              p.card-text class .btn-primary
              .d-flex.flex-colunn.justify-content-around
                button(type='button' class='btn btn-primary')
                  i.fa.fa-sign-in
                  span Finalizar
                button(type='button' class='btn btn-primary')
                  span Finalizar
                  i.fa.fa-sign-in
    .container.d-flex.flex-column.justify-content-end
          .row.justify-content-center
            h4 Botões comprimidos
          .row.justify-content-center
            .col-md-5
              .card
                .card-body
                  h6.card-title Botões secundários
                  p.card-text class .btn-secondary .comprimido
                  .d-flex.justify-content-around
                    button.btn.btn-secondary.comprimido
                      i.fa.fa-pencil-square-o
                    button.btn.btn-secondary.comprimido
                      i.fa.fa-arrows-alt
                    button.btn.btn-secondary.comprimido
                      i.fa.fa-chevron-left
            .col-md-5
              .card
                .card-body
                  h6.card-title Botõe primários
                  p.card-text class .btn-primary .comprimido
                  .d-flex.flex-colunn.justify-content-around
                    button(type='button' class='btn btn-primary comprimido')
                      i.fa.fa-arrow-right
                    button(type='button' class='btn btn-primary comprimido')
                      i.fa.fa-chevron-right
