doctype html
html(lang="pt")
  head
    title='buttons'
    meta(charset='utf8')
  body
    .container.d-flex.flex-column.justify-content-end
      .row.justify-content-center
        h4
          p Botões extendidos
      .row.justify-content-center
        .col-md-5
          .card
            .card-body
              h6.card-title Botões secundários
              p.card-text class .btn-secondary
              .d-flex.justify-content-around
<<<<<<< HEAD
                button.btn.btn-danger
                  i.fa.fa-arrow-circle-left Responder
                button.btn.btn-danger
                  i.fa.fa-arrow-circle-t right Encaminhar
=======
                button.btn.btn-secondary Responder
                button.btn.btn-secondary
                  i.fa.fa-arrow-circle-right Encaminhar
>>>>>>> 266d5279ded77273ecac03c19482a9dcd9a75fd6
        .col-md-5
          .card
            .card-body
              h6.card-title Botões primários
              p.card-text class .btn-primary

              .d-flex.flex-colunn.justify-content-around
                button.btn.btn-primary
                  i.fa.fa-sign-in Finalizar
                button.btn.btn-primary Finalizar


