doctype html
html(lang="pt")
  head
    title='buttons'
    meta(charset='utf8')
  body
    .container.d-flex.flex-column.justify-content-end
      .row.justify-content-center
        h4
          p Botões extendidos
      .row.justify-content-center
        .col-md-5
          .card
            .card-body
              h6.card-title Botões secundários
              p.card-text class .btn-extend-secondary
              .d-flex.justify-content-around
                button.btn.btn-danger
                  i.fa.fa-arrow-circle-left Responder
                button.btn.btn-danger
                  i.fa.fa-arrow-circle-t right Encaminhar
        .col-md-5
          .card
            .card-body
              h6.card-title Botões primários
              p.card-text class .btn-extend-primary

              .d-flex.flex-colunn.justify-content-around
                button.btn.btn-danger
                  i.fa.fa-sign-in Finalizar

