doctype html
html(lang="pt")
  head
    title='footer'
    meta(charset='utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    footer.footer.container-fluid.d-flex.flex-row.justify-content-between.align-items-center
      img(src='/src/img/logotipo-sinfo.png')
      .d-flex.flex-row.text-footer
        span Superintendência de Informática |&nbsp;
        span  +55 084 3215.3148 |&nbsp;
        span Copyright © 2006-2017 UFRN
      img(id='logo-ufrn' src='/src/img/logotipo-ufrn.png')