doctype html
html(lang="pt")
  head
    title='footer'
    meta(charset='utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    footer.footer
      .footer-container
        .brand
          img(src='/src/img/logotipo-sinfo.png')
        .content
          span.text Superintendência de Informática
          span.text +55 084 3215.3148
          span.text Copyright © 2006-2017 UFRN
        .instituicao
          img(id='logo-ufrn' src='/src/img/logotipo-ufrn.png')
