html
  body
    div(style='width: 300px; padding: 50px 100px; border: 1px solid lightgray')
      //adicionar url absoluta
      img(style='display: block; margin-bottom: 30px' src='img/logo_reuse.png' border='0' alt='logo do Reuse')
      h1(style='margin-bottom: 50px; font-family: arial, sans-serif; color: #838e9f; font-size: 24px') Seu registro de interesse foi confirmado!
      span(style='font-family: arial, sans-serif; color: #838e9f; font-size: 18px') Olá,&nbsp;
      span(id='user' style='font-family: arial, sans-serif; font-size: 18px; font-weight: bold; color: #727b8a') Wesksley!
      p(style='margin-top: 25px; margin-bottom: 20px; font-family: arial, sans-serif; color: #838e9f; font-size: 16px') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      //adicionar url do site
      a(href='#' style='text-decoration: none')
        div(style='width: 100px; border-radius: 15px; background-color: #d4de27; text-align: center; padding: 7.5px 0')
          span(style='font-family: arial, sans-serif; font-size: 13px; color: #838e9f') Ir para o site
    div(style='width: 480px; padding: 0px 10px; border: 1px solid lightgray')
      div(style='height: 3px; background-color: #d4de27')
