<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	<meta charset="utf-8">
	<script src="vue.js"></script>
	
</head>
<body>
	<div id="app">
		<h5>app1</h5>
		<app-one></app-one>
		<br>
	<!--div>
		<h5>app2</h5>
		<div id="app-2">
			<span v-bind:title="message">
			Pare o mouse sobre mim e veja a dica interligada dinamicamente!
		  </span>
		</div>

		<h5>app3</h5>
		<div id="app-3">
			<p v-if='ver'>Agora você me viu</p>
		</div>

		<h5>app4</h5>
		<div id="app-4">
			<ol>
				<li v-for='algo in todos'>
					{{ algo.text }}
				</li>
			</ol>
		</div>

		<h5>app5</h5>
		<div id="app-5">
			<p>{{ message }}</p>
			<button @click='reverseMessage'>Inverter Mensagem</button>
		</div>

		<h5>app6</h5>
		<div id="app-6">
			<p>{{ message }}</p>
			<input v-model='message' type="text">
		</div>

		<h5>app7</h5>
		<div id="app-7">
			<ol>
				<todo-item
					v-for="item in list"
					:todo='item'
					:id='item.id'>
				</todo-item>
			</ol>
		</div>

		<h5>Computed</h5>
		<div id="computed">
			O inverso de "{{ mensagem }}" é "{{ mensagemInversa }}".
		</div>
		</div-->
	</div>
	<script src="tutorialvue.js"></script>
</body>
</html>