<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	<meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
  <h5>Reutilização com key</h5>
  <div id="reut-key">
    <login :type="'email'"></login>
  </div>
  <h5>Renderização condicional</h5>
  <div id="condicional">
    <div v-if="Math.random() > 0.5">
      Agora você me vê
    </div>
    <div v-else>
      Agora você não me vê
    </div>
    <span v-if="ok">Sim</span>
    <span v-else>Não</span>
  </div>

  <h5>Valores múltiplos</h5>
  <div id="valores-multiplos" v-bind:style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">
    Opa e aí vey!
  </div>

  <h5>Estilos inline</h5>
  <p id="estilo-inline" v-bind:style="[paragrafo,botao]">Essa fera aí meu</p>
  <h5>Vinculando classes com array</h5>
  <div id="classes-array">
    <button class="btn" :class='[styleButton, text]'>Button</button>
  </div>

  <h5>Vinculando classes com objetos</h5>
  <div id="classes-objeto">
    <button class="btn" :class='classObject'>Button</button>
  </div>

  <h5>watch response</h5>
	<div id="watch-response">
    <p>Faça uma pergunta</p>
    <input type="text" v-model="pergunta">
    <p>{{resposta}}</p>
  </div>

	<div id="app">
    <h5>app1</h5>
		<app-one></app-one>
		<br>

		<h5>app2</h5>
		<app-two></app-two>

		<h5>app3</h5>
		<app-three></app-three>

		<h5>app4</h5>
		<app-four></app-four>
	</div>

  <h5>app5</h5>
	<div id="app-5">
		<p>{{ message }}</p>
		<button @click='reverseMessage'>Inverter Mensagem</button>
	</div>

	<h5>app6</h5>
	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model='message' type="text">
	</div>

	<h5>app7</h5>
	<div id="app-7">
		<ol>
			<todo-item
				v-for="item in list"
				:todo='item'
				:id='item.id'>
			</todo-item>
		</ol>
	</div>

	<h5>Computed</h5>
	<div id="computed">
		<p>O inverso de "{{ mensagem }}" é, através de computed: "{{ mensagemInversa() }}".</p>
		<p>Através de JavaScript inline é: "{{ mensagem.split('').reverse().join('') }}"</p>
		<p>Ambos fazem o mesmo. Porém o computed é mais legível.</p>
	</div>

	<h5>Fullname com watch</h5>
	<div id="watch">
		firstname
		<input type="text" v-model="firstname">
		lastname
		<input type="text" v-model="lastname">
		<br>
		fullname: {{fullname}}
	</div>

	<h5>Fullname com computed</h5>
	<div id="fullname-computed">
		firstname
		<input type="text" v-model="firstname">
		lastname
		<input type="text" v-model="lastname">
		<br>
		fullname: {{fullname}}
	</div>

	<h5>Computed com get e set</h5>
	<div id="computed-gs">
		firstname
		<input type="text" v-model="firstname">
		lastname
		<input type="text" v-model="lastname">
		<br>
		fullname: {{fullname}}
	</div>

    <script src="vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
	<script src="tutorialvue.js"></script>
</body>
</html>
